body {
  overflow-x: hidden;
}
.header {
  height: 50px;
  background-color: deepskyblue;
  color: #ffffff;
  font-size: 1.2em;
}

.header span {
  line-height: 50px;
}

.register {
  margin-top: 35px;
}

.registerFont{
  color: #31b0d5;
  margin-top: 35px;
  font-style: italic;
}

.email, .password, .repeatPassword {
  margin-top: 30px
}

.myUsers,.myEmail,.myPassword,.myRepeatPassword,.registerButton {
  width: 250px;
}
.registerButton{
  margin-top: 20px;
}
.hasAccount{
  margin-top: 20px;
}
small{
  color:goldenrod;
  opacity: 0.8;
  position: absolute;
  margin-left:-120px;
  padding-top: 8px;
}

